<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhDemoApp.jobHistory.home.title">Job Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-history" [routerLink]="['/job-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhDemoApp.jobHistory.home.createLabel">
            Create a new Job History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobHistories?.length === 0">
        <span jhiTranslate="jhDemoApp.jobHistory.home.notFound">No jobHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobHistories && jobHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="jhDemoApp.jobHistory.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="jhDemoApp.jobHistory.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="language"><span jhiTranslate="jhDemoApp.jobHistory.language">Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="job.id"><span jhiTranslate="jhDemoApp.jobHistory.job">Job</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="department.id"><span jhiTranslate="jhDemoApp.jobHistory.department">Department</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employee.id"><span jhiTranslate="jhDemoApp.jobHistory.employee">Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let jobHistory of jobHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/job-history', jobHistory.id, 'view']">{{ jobHistory.id }}</a></td>
                    <td>{{ jobHistory.startDate | date:'medium' }}</td>
                    <td>{{ jobHistory.endDate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'jhDemoApp.Language.' + jobHistory.language }}">{{ jobHistory.language }}</td>
                    <td>
                        <div *ngIf="jobHistory.job">
                            <a [routerLink]="['/job', jobHistory.job?.id, 'view']" >{{ jobHistory.job?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="jobHistory.department">
                            <a [routerLink]="['/department', jobHistory.department?.id, 'view']" >{{ jobHistory.department?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="jobHistory.employee">
                            <a [routerLink]="['/employee', jobHistory.employee?.id, 'view']" >{{ jobHistory.employee?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job-history', jobHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/job-history', jobHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
