<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobHistory">
            <h2><span jhiTranslate="jhDemoApp.jobHistory.detail.title">Job History</span> {{ jobHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhDemoApp.jobHistory.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ jobHistory.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="jhDemoApp.jobHistory.endDate">End Date</span></dt>
                <dd>
                    <span>{{ jobHistory.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="jhDemoApp.jobHistory.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jhDemoApp.Language.' + jobHistory.language }}">{{ jobHistory.language }}</span>
                </dd>
                <dt><span jhiTranslate="jhDemoApp.jobHistory.job">Job</span></dt>
                <dd>
                    <div *ngIf="jobHistory.job">
                        <a [routerLink]="['/job', jobHistory.job?.id, 'view']">{{ jobHistory.job?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhDemoApp.jobHistory.department">Department</span></dt>
                <dd>
                    <div *ngIf="jobHistory.department">
                        <a [routerLink]="['/department', jobHistory.department?.id, 'view']">{{ jobHistory.department?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhDemoApp.jobHistory.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="jobHistory.employee">
                        <a [routerLink]="['/employee', jobHistory.employee?.id, 'view']">{{ jobHistory.employee?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-history', jobHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
